.grid-container {
   display: grid;
   /* grid-template-columns: 2fr 1fr 250px; */
   /* grid-template-rows: 200px 200px; */
   /* grid-template: 200px 200px/ 300px 300px 300px; */
   /* grid-template-columns: 1000px repeat(2, 1fr 2fr); */
   /* grid-template-columns: minmax(150px,550px) 1fr 1fr; */
   /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
   grid-template-columns: repeat(3, 1fr);

   /* justify-items: start; 
   по контенту выравнивание */

   /* align-items: stretch; */

   grid-template-rows: 150px;
   /* grid-template-rows: minmax(100px, auto); */

   /* column-gap: 20px; 
   row-gap: 15px; */
   gap: 5px;
}
   
 
 .grid-container div {
    background: #fc9;
    border: 1px solid #f96;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
 }
 div:nth-child(even) { background: #fc6;  }

 div:nth-child(1) {
    /* grid-column-start: 1;
    grid-column-end: 3; */
   grid-column: 2 / 4;
   grid-row: 1 / 3;
 }
 