html,
body {
   height: 100%;
   line-height: 1;
   font-size: 1rem;
   color: black;
   font-family: Rubik;
}

.about__title {
   min-height: 100%;
   overflow: hidden;

   max-width: 64rem;
   margin: 0rem auto;
}

.about__inner {
   min-height: 100%;
   overflow: hidden;

   max-width: 64rem;
   margin: 0rem auto;
}

.header__top {
   max-width: 64rem;
   margin: 0rem auto;
   
}

.content__list {
   margin-left: 2rem;
}

/* .......table....... */

.table {
   font-family: sans-serif;
   text-align: left;
   width: 100%;
   margin-top: 3rem;
   margin-bottom: 3rem;
   background: #ADD8E6; 
   color: black;
   border-collapse: separate; 
   border-spacing: .32rem;
   border: 1rem solid#ADD8E6;
   
}

.table th {
   font-size: 1.12rem;
   padding: .62rem;
}

.table td {
   background: #87CEEB;
   padding: .62rem;
}


.table th, table td {
   text-align: center;
   padding: 10px;
}

.table td {
   transition: all .1s;
}

.table td:hover {
   background-color: #ccc;
}

