html,
body {
   height: 100%;
   line-height: 1;
   font-size: 1rem;
   color: black;
   background-color: rgb(243, 241, 241);
   font-family: Rubik;
}

.container {
   width: 100%;
   max-width: 64rem;
   margin: 0 auto;
}

/* .......header....... */
.header {
   width: 100%;
   height: 6.25rem;
   position: relative;
   top: 0;
   left: 0; 
}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center; /* не срабатывает - не могу найти ошибку*/

   min-height: 100%;
   overflow: hidden;

   max-width: 64rem;
   margin: 0rem auto;
   padding: 1rem;
   padding-left: 0;
}

.header__title {
display: flex;
justify-content: space-between;
}

.logo {
padding-right: 0;
}

.title {
   padding: .9rem;
}

/* .......Nav....... */
.nav {
   display: flex;
   width: 20rem;
   margin: 0 auto 2rem; 
}

.nav__link {
   margin-left: 50px;
}

.nav__link:first-child {
   margin-left: 0;
}

.nav__link:hover {
   color: rgb(12, 12, 239);
   opacity: 1;
}

/* ......intro...... */
.intro {
   display: flex;
   height: 15rem;
   padding-top: 5rem;
   background: #74B6FF;

   position: relative;
   text-align: center;
   font-size: 3rem;

   height: 11.5rem;
   margin-bottom: 5rem;
}

.about__title {
   min-height: 100%;
   overflow: hidden;

   max-width: 64rem;
   margin: 0rem auto;
}

.image-center {
   display: grid;
   justify-items: center;
   align-items: center;
   padding-top: 2rem;
}

.content__article {
   padding-top: 5rem;
}

.content-intro {
   width: 64rem;
   height: 10rem;
   font-size: 1.2rem;
   line-height: 2rem;
}

.content__list-item {
   margin-bottom: 1.5rem;
   margin-top: 1.5rem;
}

.content__list-title {
   display: grid;
   height: 1.5rem;
   margin-top: 2rem;
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

/* .......table....... */
.table {
   font-family: sans-serif;
   text-align: left;
   width: 100%;
   margin-top: 3rem;
   margin-bottom: 3rem;
   background: #ADD8E6; 
   color: black;
   border-collapse: separate; 
   border-spacing: .32rem;
   border: 1rem solid#ADD8E6;
}

.table th {
   font-size: 1.12rem;
   padding: .62rem;
}

.table td {
   background: #87CEEB;
   padding: .62rem;
}

.table th, table td {
   text-align: center;
   padding: 10px;
}

.table td {
   transition: all .1s;
}

.table td:hover {
   background-color: #ccc;
}


.title-h2 {
   flex: 1 1 auto;
   margin-bottom: 1rem;
   font-size: 2rem;
   letter-spacing: .15em;
}

.section-img{
   display: inline-flex;
   justify-content: center;
   height: 90rem;
   padding: 10rem 0rem 2rem 0rem;
   background: #74B6FF;

   position: relative;
   text-align: center;
   font-size: 3rem;

   height: 35.75rem;
   margin-bottom: 5rem;

}

.column__img {
   display: flex;
   margin: 0px -10px;
}

.block-img {
   flex: 0 1 50%;
   padding: 0px 10px;
}


.wraper-img {
   display: flex;
   margin: 0 --1rem;
}

.item-img {
   float: left; 
   width: 20.5rem;
   height: 11.9rem;
   padding: 0 1rem;
   margin-left: 5rem;
}

.synopsis {
   display: block;
   background-color: white;
   width: 10.5rem;
   height: 6.9rem;
}